<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Settings</title>
</head>
<body>
<th:block th:if="${isError}">
    <p th:text="${error}"></p>
</th:block>
<th:block th:if="${!isError}">
    <form method="post" th:action="@{settingUser}" th:object="${user}">
        <input name="id" hidden="true" th:field="*{id}">
        <input name="username" hidden="true" th:field="*{username}"/>
        <input name="password" hidden="true" th:field="*{password}">
        <input name="roles" hidden="true" th:field="*{roles}"/>
        <div class="form-group">
            <label>First Name</label>
            <input class="form-control" type="text" th:field="*{firstName}"/>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input class="form-control" type="text" th:field="*{lastName}"/>
        </div>
        <div class="form-group">
            <label>E-Mail</label>
            <input class="form-control" type="text" th:field="*{email}"/>
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input class="form-control" type="text" th:field="*{phone}"/>
        </div>
        <div class="form-group">
            <label>Address</label>
            <input class="form-control" type="text" th:field="*{address}"/>
        </div>
        <ul th:if="${user.isAdmin()}">
            <th:block th:each="role : ${roles}">
                <li th:value="${role.toString()}">
                    <label th:text="${role.toString()}">ROLE</label>
                    <input type="checkbox" th:checked="${user.roles.contains(role)}" th:name="${role}" th:value="${role}">
                </li>
            </th:block>
        </ul>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</th:block>
</body>
</html>
